.line {
    height: 2px;
    background-color: $color-grey-light;
}

.text, .textPlace {
    font-family: 'Roboto-light';
    color: $color-grey;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;

    @include media-mobile {
        padding: 20px 0;
    }
}

.textPlace {
    font-size: 18px;

    @include media-mobile {
        font-size: 20px;
    }
}

.text {
    font-size: 18px;

    @include media-mobile {
        font-size: 24px;
    }
}

.place {
    @include media-mobile {
        display: flex;
        justify-content: space-around;

        > div {
            flex: 1;
        }
    }

    > div {
        padding: 10px;
    }
}

.map {
    height: 300px;

    @include media-mobile {
        height: 400px
    }
}
