@font-face {
    font-family: 'Roboto';
    src: url('./resources/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('./resources/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('./resources/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Garamond-Regular';
    src: url('./resources/fonts/EBGaramond-Regular.ttf') format('truetype');
}

