.commonCenteredText {
    font-family: "Roboto-light";
    text-align: center;
    color: $color-grey;
}

.line {
    height: 2px;
    background-color: $color-grey-light;
}

.container {
    padding: 20px;
}

.text {
    composes: commonCenteredText;
    margin-top: 10px;
    font-size: 16px;
}

.title {
    composes: commonCenteredText;
    font-size: 18px;
    text-transform: uppercase;
}

.detailsContainer {
    margin-top: 10px;
}

.account {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.details {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.accountTitle {
    composes: commonCenteredText;
    font-size: 16px;
    text-transform: uppercase;
}

.accountValue {
    composes: commonCenteredText;
    font-size: 16px;
    font-style: italic;
}

.detailsTitle {
    composes: commonCenteredText;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}


